{%extends 'all-image/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
  <!-- Looping through images   -->
  <div class="row">

      <div class=""style="display:grid;grid-template-columns: 30% 30% 30%;
          grid-auto-rows: 25.6em;
          grid-gap: 60px;">
            {% for image in image %}
            <div class="">
              <h2> {{ image.name }} </h2>
              <a href="{% url 'image_details' %}"><img style="height:200px;width:300px;"src="{{image.image.url}}" class="img-responsive" alt="Image"></a>
              <p>Posted {{image.pub_date|timesince}} ago</p>
              <p>by {{image.editor.first_name}}</p>
            </div>
            {% endfor %}

      </div>

  </div>
</div>

{% endblock %}
