h1{
  color:cyan;
}
.container{
  /* background: #f0a4f0;
  padding-left: 75px; */
}
#box{
  /* box-sizing: border-box;
  float:left;
  width:33.33%;
  margin: auto; */
  /* display: grid; */
  /* width:30%; */
}
.border{

}
img{
  height:200px;
  width:300px;
}
@media only screen and (max-width: 600px) {
  .imgs {
    display:grid;
    grid-template-columns: 80%;
    /* grid-auto-rows: 25.6em;
    grid-gap: 60px;" */
  }
}
